#toolbox {
    background-color: #222;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
}
#toolbox .tools-container,
#toolbox .tools-container .tool {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    list-style: none;
}
#toolbox .tools-container{
    flex-direction: column;
    gap: 20px;
}
#toolbox .tools-container .tool{
    justify-content: center;
    background-color: #303030;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}
#toolbox .tools-container .tool.active{
    background-color: #5100ff;
    color: #fff;
}